.git
node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/.env
**/.env.*
**/*.log
apps/api/prisma/dev.db
apps/api/prisma/dev.db-shm
apps/api/prisma/dev.db-wal
apps/api/uploads
**/uploads
**/*.tsbuildinfo
